@implements IDisposable
@inject NavigationManager NavigationManager



<nav class="  navbar navbar-expand-md bg-dark text-light">
    <div class="navbar-brand p-3 ">
        <label class="  h4 ps-3">Sample Tracker</label>
    </div>



    <div class="nav-item p-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="gg-home text-light" aria-hidden="true"></span>
            <label class=" ps-3 text-light">Home</label>
        </NavLink>
    </div>

    <div class="nav-item p-3 dropdown">
        <a class=" dropdown-toggle text-light nav-link" id="navbarDropdownMenuLink" role="button"
           data-bs-toggle="dropdown" aria-expanded="false">
            <span class="gg-menu" aria-hidden="true"></span>
            <label class=" ps-3">Config</label>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark " aria-labelledby="navbarDropdownMenuLink">
            <li><NavLink class="dropdown-item text-light" href="/Pages/Configuration/RackConfiguration">RackConfig</NavLink></li>
            <li><NavLink class="dropdown-item text-light" href="#">LocationConfig</NavLink></li>
        </ul>
    </div>

    <div class="nav-item p-3">
        <NavLink class="nav-link" href="auth">
            <span class="gg-lock text-light" aria-hidden="true"></span>
            <label class=" ps-3 text-light">Auth Required</label>
        </NavLink>
    </div>

    <AuthorizeView>
        <Authorized>
            <div class="nav-item p-3 ms-auto">
                <NavLink class="nav-link" href="Account/Manage">
                    <span class="gg-profile text-light" aria-hidden="true"></span>
                    <label class=" ps-3 text-light">@context.User.Identity?.Name</label>
                </NavLink>
            </div>
            <div class="nav-item p-3 ">
                <form action="Account/Logout" method="post">
                    <AntiforgeryToken />
                    <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                    <button type="submit" class="nav-link">
                        <span class="gg-log-out text-light" aria-hidden="true"></span>
                        <label class=" ps-3 text-light">Logout</label>
                    </button>
                </form>
            </div>
        </Authorized>
        <NotAuthorized>
            <div class="nav-item p-3 ms-auto ">
                <NavLink class="nav-link " href="Account/Register">
                    <span class="gg-assign text-light" aria-hidden="true"></span>
                    <label class=" ps-3 text-light">Register</label>

                </NavLink>
            </div>
            <div class="nav-item p-3">
                <NavLink class="nav-link" href="Account/Login">
                    <span class="gg-log-in text-light" aria-hidden="true"></span>
                    <label class=" ps-3 text-light">Login</label>

                </NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>


</nav>



@code {

    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}