@implements IDisposable
@inject NavigationManager NavigationManager



    <nav class=" sticky-top navbar navbar-expand-md bg-secondary ">
        <div class="nav-item p-3">
            <a class="h6" href="" aria-hidden="true"> Sample Tracker</a>
        </div>

        <div class="nav-item p-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item p-3">
            <NavLink class="nav-link" href="/Pages/Configuration/RackConfiguration">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> RackConfiguration
            </NavLink>
        </div>

        <div class="nav-item p-3">
            <NavLink class="nav-link" href="auth">
                <span class="gg-lock ps-1" aria-hidden="true"></span> Auth Required
            </NavLink>
        </div>
 
        <AuthorizeView>
            <Authorized>
                    <div class="nav-item p-3 ms-auto">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="gg-profile" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                    <div class="nav-item p-3 ">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="gg-log-out" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                    <div class="nav-item p-3 ms-auto ">
                    <NavLink class="nav-link" href="Account/Register">
                    <span class="gg-assign" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                    <div class="nav-item p-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="gg-log-in" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>


    </nav>



@code {
    public bool IsConfigDropdownVisible { get; set; } = false;


    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    public void ConfigDropDownClick()
    {
        IsConfigDropdownVisible = true;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}